@use "@styles/media" as media;

.root {
  display: flex;
  border-bottom: 2px solid var(--accent-2);
  padding: 0 1.5rem;
  justify-content: center;
  @include media.break(tablet) {
    justify-content: space-between;
  }
}
